"#通用部分
" 侦测文件类型
filetype on

" 为特定文件类型载入相关缩进格式
filetype indent on

" 为特定的文件类型载入对应的插件
filetype plugin on
filetype plugin indent on

" 禁止生成临时文件
set nobackup
set noswapfile

" 自动换行
set wrap

" 整词换行
"set linebreak

" 配色方案
"color liveme

" 显示行号
set number

" 高亮显示匹配的括号
set showmatch

" 匹配括号高亮的时间（单位是十分之一秒）
set matchtime=5

" 设置leader键
let mapleader = ";"

" 自动缩进
set autoindent

" C语言方式缩进
set cindent

" 智能缩进
set smartindent

" 统一缩进为4
set softtabstop=4
set shiftwidth=4

" 语法高亮
set syntax=on

" 搜索逐字符高亮和实时搜索
set hlsearch
set incsearch

" 搜索忽略大小写
set ignorecase 

" 有一个或以上大写字母时仍大小写敏感
set smartcase 

" 不与vi兼容
set nocp

" 设置退格键可用
set backspace=2

" Esc快捷键
:imap jj <ESC>

" 保存
noremap <Leader>w :w<CR>

" 退出
noremap <Leader>q :q<CR>

" 切换到左边标签
noremap gp gT

" 切换到右边标签
noremap gn gt

"用闪屏代替错误提示音
set vb t_vb=

" 复制到剪切板
noremap <Leader>c "+y

" 从剪切板黏贴
cnoremap <C-v> <S-Insert>

"#ideaVim特定部分
sethandler <C-V> i:ide n-v:vim
sethandler <C-C> i-n-v:ide
